.container {
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #ff6f61;

  & h1 {
    border-bottom: 2px solid #ff6f61;
    margin-bottom: 0.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;

  & .form-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 50%;

      & mat-form-field {
        width: 100%;
        & span {
          margin-right: 30px;
        }
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;

      & mat-form-field:nth-child(1) {
        width: 60%;
      }

      & mat-form-field:nth-child(2) {
        width: 40%;
      }
    }
  }

  & .ingredient,
  .step {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;

    & h2 {
      border-bottom: 2px solid #ff6f61;
      width: 80%;
      color: #ff6f61;
      font-size: 1.5rem;
    }
  }
}

.form-container-ingredient {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  width: 75%;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0rem;
  }

  & span {
    width: 10%;
    margin-right: 10px;
  }

  & .name {
    flex-grow: 2;
  }

  & .unit {
    width: 100px;
  }

  & button {
    margin-left: 10px;
  }

  & .textarea {
    width: 100%;
  }
}

.form-container-step {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0rem;
  }

  & span {
    width: 10%;
    margin-right: 10px;
  }

  & button {
    margin-left: 10px;
  }

  & mat-form-field {
    width: 100%;
  }
}
.categories-list {
  margin: auto;
  margin-top: 3rem;

  & mat-chip-option {
    height: 2.5rem;
  }
}

.button-submit {
  margin: 3rem 0;
}
