<header>
  <div class="title">
    <h1>Ajouter une recette</h1>
  </div>
</header>

<form class="form" [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
  <mat-form-field>
    <input matInput placeholder="Titre" formControlName="title" required />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Durée" formControlName="duration" required />
  </mat-form-field>

  <!-- Ingredients -->
  <label for="ingredients">Ingrédients</label>
  <div formArrayName="ingredients" required>
    <div
      *ngFor="let ingredient of ingredients.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Nom" required />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          formControlName="quantity"
          placeholder="Quantité"
          required
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="trash"
        (click)="delete(ingredients, i)"
      >
        <fa-icon icon="trash-can"></fa-icon>
      </button>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    mat-flat-button
    type="button"
    (click)="addIngredient()"
  >
    <span>Ajouter un ingrédient</span>
  </button>

  <label for="steps">Étapes :</label>
  <div formArrayName="steps" required>
    <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
      <span>Etape {{ step.value.sort + 1 }} :</span>
      <mat-form-field>
        <input
          matInput
          formControlName="description"
          placeholder="Description"
          required
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="trash"
        (click)="delete(steps, i)"
      >
        <fa-icon icon="trash-can"></fa-icon>
      </button>
    </div>
  </div>

  <button mat-raised-button color="primary" type="button" (click)="addStep()">
    <span>Ajouter une étape</span>
  </button>
  <!-- Categories -->
  <mat-form-field>
    <label for="categories">Catégories</label>
    <mat-select formControlName="categories">
      <mat-option *ngFor="let category of categories" [value]="category">
        <app-categories [category]="category"></app-categories>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="recipeForm.invalid || recipeForm.disabled"
      type="submit"
    >
      <span>Ajouter la recette</span>
    </button>
  </div>
</form>
