header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6f61;
  height: 4rem;
  color: white;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1rem;
}
.mat-toolbar {
  width: auto;
  gap: 20px;

  & a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}

.menu-burger {
  background-color: transparent;
  border: none;
  cursor: pointer;

  /* Styles spécifiques à fa-icon à l'intérieur de .menu-burger */
  fa-icon {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

// .sidenav-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #ff6f61;
//   height: 100%;
// }

.sidenav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6f61;
  height: 100%;
}

.sidenav-content {
  margin-left: 0; /* Ajustez cette valeur selon vos besoins */
}
