@use 'material/palette' as palette;
@use 'utils/variables' as variables;

header {
  & .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem 0.3rem 2rem;

    &-button {
      display: flex;
      gap: 1rem;
    }

    & fa-icon {
      font-size: large;
    }
  }
}

.container {
  &-buttons {
    padding-top: 2rem;
    text-align: center;

    & fa-icon {
      color: white !important;
      padding-right: 0.7rem;
      font-size: 0.9rem !important;
    }
  }

  & fa-icon {
    color: palette.$green;
    font-size: 1.2rem;
    padding-right: 0.7rem;
  }
}
