<header>
  <div class="title">
    <h1>Profile</h1>
    <div class="title-button">
      <button
        aria-label="Modifier la recette"
        mat-mini-fab
        type="button"
        color="accent"
        (click)="editProfile()"
      >
        <fa-icon icon="pen"></fa-icon>
      </button>
    </div>
  </div>
</header>
<div class="container-profile">
  @if(!loading){
  <table>
    <tr>
      <td>Prénom :</td>
      <td>{{ profile.givenName }}</td>
    </tr>
    <tr>
      <td>Nom :</td>
      <td>{{ profile.familyName }}</td>
    </tr>
    <tr>
      <td>Email :</td>
      <td>{{ profile.email }}</td>
    </tr>
    <tr>
      <td>Role :</td>
      <td><app-user-role [role]="profile.role"></app-user-role></td>
    </tr>
    @if(profile.role !== UserRole.Admin){
    <tr>
      <td>Recette ajoutées ce mois ci :</td>
      <td>
        <app-quota-recipe-by-month
          [quotas]="profile.quotas.recipePerMonth"
        ></app-quota-recipe-by-month>
      </td>
    </tr>
    } @if(!profile.verifiedAt){
    <p>Activer votre compte pour passer à 10 recettes par mois</p>
    }
  </table>
  }
  <div class="container-buttons">
    <button
      aria-label="Modifier le mot de passe"
      mat-stroked-button
      type="button"
      color="accent"
      (click)="changePassword()"
    >
      <fa-icon icon="pen"></fa-icon> <span>Modifier le mot de passe</span>
    </button>
  </div>
</div>
