@use 'material/palette' as palette;
@use 'utils/variables' as variables;

header {
  margin-bottom: 1.5rem;
  color: palette.$primary-dark;

  & .title {
    border-bottom: 2px solid palette.$primary-dark;
    display: flex;
    justify-content: space-between;

    & h1 {
      margin-bottom: 0.5rem;
    }
    & .title-button {
      padding-top: 2rem;
      margin-right: 2rem;
    }
    & fa-icon {
      font-size: large;
    }
  }
}
.container-profile {
  & .container-buttons {
    padding-top: 2rem;
    text-align: center;

    & fa-icon {
      padding-right: 0.7rem;
    }
  }
}
