<header>
  <div class="title">
    <h1>Modifier la recette</h1>
  </div>
</header>

<form class="form" [formGroup]="recipeForm" (ngSubmit)="edit()">
  <mat-form-field>
    <input matInput placeholder="Titre" formControlName="title" required />
  </mat-form-field>
  <div class="duration">
    <mat-form-field>
      <input matInput placeholder="Durée" formControlName="duration" required />
    </mat-form-field>
    <span matSuffix>minutes</span>
  </div>
  <!-- Ingredients -->
  <div class="container">
    <label for="ingredients">Ingrédients:</label>
    <button
      color="primary"
      mat-flat-button
      type="button"
      (click)="addIngredient()"
    >
      <span>Ajouter un ingrédient</span>
    </button>
  </div>
  <div formArrayName="ingredients" required>
    <div
      class="form-container"
      *ngFor="let ingredient of ingredients.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field class="name">
        <input matInput formControlName="name" placeholder="Nom" required />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          formControlName="quantity"
          placeholder="Quantité"
          required
        />
      </mat-form-field>
      <mat-form-field class="unit">
        <mat-select formControlName="unit">
          <mat-option
            *ngFor="let option of unitListLabel"
            [value]="option.value"
          >
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="trash"
        (click)="deleteIngredient(i)"
        [disabled]="disableDeleteIngredientButton && recipe.ingredients[i]"
      >
        <fa-icon icon="trash-can"></fa-icon>
      </button>
    </div>
    <ng-container>
      <button
        *ngIf="ingredientCancelButton"
        mat-raised-button
        color="primary"
        type="button"
        (click)="cancel()"
      >
        <fa-icon icon="xmark"></fa-icon>
      </button>
      <button
        *ngIf="ingredientConfirmButton"
        mat-raised-button
        color="primary"
        type="button"
        (click)="ingredientsValidated()"
      >
        <fa-icon icon="check"></fa-icon>
      </button>
    </ng-container>
  </div>

  <!-- Steps -->
  <div class="container">
    <label for="steps">Étapes :</label>
    <button mat-raised-button color="primary" type="button" (click)="addStep()">
      <span>Ajouter une étape</span>
    </button>
  </div>
  <div formArrayName="steps" required>
    <div
      class="form-container"
      *ngFor="let step of steps.controls; let i = index"
      [formGroupName]="i"
    >
      <span>Etape {{ step.value.sort }} :</span>
      <mat-form-field>
        <input
          matInput
          formControlName="description"
          placeholder="Description"
          required
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="trash"
        (click)="moveUp(steps, i)"
        [disabled]="disableMoveStepButton"
      >
        <fa-icon icon="arrow-up"></fa-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="trash"
        (click)="moveDown(steps, i)"
        [disabled]="disableMoveStepButton"
      >
        <fa-icon icon="arrow-down"></fa-icon>
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="trash"
        (click)="deleteStep(i)"
        [disabled]="disableDeleteStepButton && recipe.steps[i]"
      >
        <fa-icon icon="trash-can"></fa-icon>
      </button>
    </div>

    <ng-container>
      <button
        *ngIf="stepCancelButton"
        mat-raised-button
        color="primary"
        type="button"
        (click)="cancel()"
      >
        <fa-icon icon="xmark"></fa-icon>
      </button>
      <button
        *ngIf="stepConfirmButton"
        mat-raised-button
        color="primary"
        type="button"
        (click)="stepsValidated()"
      >
        <fa-icon icon="check"></fa-icon>
      </button>
    </ng-container>
  </div>

  <!-- Categories -->
  <label class="container" for="categories">Catégories</label>
  <mat-button-toggle-group formControlName="categories" multiple>
    <mat-button-toggle *ngFor="let category of categories" [value]="category">
      <app-categories [category]="category"></app-categories>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div>
    <button
      class="button-submit"
      mat-raised-button
      color="primary"
      [disabled]="recipeForm.invalid || recipeForm.disabled"
      type="submit"
    >
      <span>Modifier la recette</span>
    </button>
  </div>
</form>
