<div class="dialog-title">
  <h2>Modifier le profil ?</h2>
</div>
<div class="container-profile" mat-dialog-content>
  <form class="form" [formGroup]="profileForm">
    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="userName" required />
      <mat-error *ngIf="profileForm.controls.userName.errors?.['required']"
        >Ce champ est obligatoire</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input matInput formControlName="givenName" />
      <mat-hint>Optionnel</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput formControlName="familyName" />
      <mat-hint>Optionnel</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
      <mat-error *ngIf="profileForm.controls.email.errors?.['required']"
        >Ce champ est obligatoire</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div class="action-wrapper" mat-dialog-actions>
  <button mat-button color="red" mat-dialog-close>Annuler</button>
  <button mat-button color="green" mat-dialog-close (click)="edit()">
    Modifier
  </button>
</div>
