<header>
  <div class="title">
    <h1>Bienvenue sur cookbook</h1>
  </div>
</header>

<section class="title-explain">
  <h2>
    Rejoignez-nous dans l'aventure culinaire et échangez vos meilleures
    recettes.
  </h2>
</section>

<section class="container">
  <div>
    <img class="logo" src="../../assets/livre.png" alt="livre" />

    <h3>Découvrez de nouvelles idées culinaires</h3>
    <p>
      Explorez une multitude de recettes variées et découvrez de nouvelles idées
      culinaires pour inspirer votre prochain repas.
    </p>
    <button [routerLink]="['/recipes']" mat-raised-button color="accent">
      Recettes
    </button>
  </div>
  <div>
    <img class="logo" src="../../assets/page.png" alt="livre" />
    <h3>Partagez vos recettes préférées</h3>
    <p>
      Rejoignez une communauté passionnée de cuisiniers amateurs et partagez vos
      meilleures recettes avec le monde entier.
    </p>
    <button [routerLink]="['/register']" mat-raised-button color="accent">
      Rejoignez-nous
    </button>
  </div>
  <div>
    <img class="logo" src="../../assets/write.png" alt="livre" />
    <h3>Gardez une trace de vos créations</h3>
    <p>
      Organisez vos recettes préférées, ajoutez une photo, et gardez une trace
      de vos propres créations culinaires.
    </p>

    <button [routerLink]="['/my-recipes']" mat-raised-button color="accent">
      Mes recettes
    </button>
  </div>
</section>

<section class="container-carousel">
  <h2 class="container-carousel-title">Découvrez nos dernières recettes :</h2>
  @if(!loading){
  <ngx-slick-carousel
    class="slide-carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    @for (recipe of recipes; track recipe.id) {
    <div ngxSlickItem class="slide">
      @if(recipe.imageUrl){
      <img
        src="{{ recipe.imageUrl }}"
        alt=""
        class="img"
        [routerLink]="['/recipes', recipe.id]"
      />
      } @else{
      <img
        src="../../assets/poke.png"
        alt=""
        class="img"
        [routerLink]="['/recipes', recipe.id]"
      />
      }
    </div>
    }
  </ngx-slick-carousel>
  }
</section>
