header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 0 6rem;
  color: #ff6f61;

  & .title {
    width: 100%;
    border-bottom: 2px solid #ff6f61;

    & h1 {
      margin-bottom: 0.5rem;
    }
  }
}

.container {
  width: 50%;
  margin: auto;
}

.container-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.image {
  width: 250px;
}

.container-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  margin-top: 10px;
}

fa-icon {
  margin-right: 10px;
}
