@use 'utils/variables' as variables;
@use 'material/palette' as palette;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  & mat-form-field {
    width: 100%;
    margin-bottom: 2rem !important;

    @media (min-width: variables.$screen-small) {
      width: 50%;
    }
  }

  button {
    width: 100%;

    @media (min-width: variables.$screen-small) {
      width: 50%;
    }
  }

  & a {
    color: palette.$accent-dark;
    text-decoration: none;
    margin-bottom: 2rem;
    text-align: right;
    cursor: pointer;
  }
}

.mat-form-field-icon {
  & span {
    padding: 0 0.5rem 0 1rem;
  }
  & fa-icon {
    color: palette.$green;
    font-size: 1.2rem;
  }
}
