<div class="cards">
  <mat-card *ngIf="isLogged" [routerLink]="['/recipes', 'create']" class="card">
    <mat-card-header>
      <mat-card-title>Ajouter une recette </mat-card-title>
    </mat-card-header>

    <img
      class="image"
      mat-card-image
      src="../../../../assets/add-recipe.png"
      alt="Photo of recipe"
    />
  </mat-card>
  <mat-card
    *ngFor="let recipe of recipes"
    [routerLink]="['/recipes', recipe.id]"
    class="card"
  >
    <mat-card-header>
      <mat-card-title>{{ recipe.title | titlecase }} </mat-card-title>
      <mat-card-subtitle>{{ recipe.duration }} min</mat-card-subtitle>
    </mat-card-header>
    @if(recipe.imageUrl){
    <img
      class="image"
      mat-card-image
      [src]="recipe.imageUrl"
      alt="Photo of recipe"
    />} @else{
    <img
      class="image"
      mat-card-image
      src="../../../../assets/poke.png"
      alt="Photo of recipe"
    />}
  </mat-card>
</div>
