<header>
  <div class="title">
    <h1>S'inscrire</h1>
  </div>
</header>
<div class="container">
  @if(!isRegister){
  <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field class="mat-form-field-icon">
      <span matPrefix><fa-icon icon="circle-user"></fa-icon></span>
      <input
        matInput
        placeholder="Nom d'utilisateur*"
        formControlName="userName"
        required
      />
      <mat-error *ngIf="registerForm.controls.userName.errors?.['required']"
        >Ce champ est obligatoire</mat-error
      >
    </mat-form-field>
    <mat-form-field class="mat-form-field-icon">
      <span matPrefix><fa-icon icon="user"></fa-icon></span>
      <input matInput placeholder="Prénom" formControlName="givenName" />
      <mat-hint>Optionnel</mat-hint>
    </mat-form-field>

    <mat-form-field class="mat-form-field-icon">
      <span matPrefix><fa-icon icon="user"></fa-icon></span>
      <input
        matInput
        placeholder="Nom de Famille"
        formControlName="familyName"
      />
      <mat-hint>Optionnel</mat-hint>
    </mat-form-field>

    <mat-form-field class="mat-form-field-icon">
      <span matPrefix><fa-icon icon="envelope"></fa-icon></span>
      <input
        matInput
        placeholder="Adresse Mail*"
        formControlName="email"
        type="email"
        required
      />
      <mat-error *ngIf="registerForm.controls.email.errors?.['required']"
        >Ce champ est obligatoire</mat-error
      >
      <mat-error *ngIf="registerForm.controls.email.errors?.['email']">
        L'adresse email n'est pas valide
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form-field-icon">
      <span matPrefix><fa-icon icon="lock"></fa-icon></span>
      <input
        matInput
        placeholder="Mot de passe*"
        formControlName="password"
        type="password"
        minLength="8"
        required
      />
      <mat-error *ngIf="registerForm.controls.password.errors?.['required']"
        >Ce champ est obligatoire</mat-error
      >
      <mat-error *ngIf="registerForm.controls.password.errors?.['minlength']">
        Le mot de passe doit contenir au moins 8 caractères
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form-field-icon">
      <span matPrefix><fa-icon icon="lock"></fa-icon></span>
      <input
        matInput
        placeholder="Confirmer le mot de passe*"
        formControlName="confirmPassword"
        type="password"
        required
      />
      <mat-error
        *ngIf="registerForm.controls.confirmPassword.errors?.['required']"
        >Ce champ est obligatoire</mat-error
      >
      <mat-error
        *ngIf="registerForm.controls.confirmPassword.errors?.['passwordmatcherror']"
        >Les mots de passe ne correspondent pas</mat-error
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="green"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      S'inscrire
    </button>
  </form>
  } @else{
  <h2 class="title-explain">Inscription réussi</h2>
  <p>Un courriel vous a été envoyé avec un lien pour activer votre compte.</p>

  }
</div>
