@use 'utils/variables' as variables;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  & mat-form-field {
    width: 100%;
    margin-bottom: 2rem !important;

    @media (min-width: variables.$screen-small) {
      width: 50%;
    }
  }

  button {
    width: 100%;

    @media (min-width: variables.$screen-small) {
      width: 50%;
    }
  }
}
