@use 'material/palette' as palette;
@use 'utils/variables' as variables;

header {
  & .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.5rem 0.3rem 0.7rem;

    @media screen and (min-width: variables.$screen-medium) {
      padding: 0.6rem 2rem 0.3rem 4rem;
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & span {
        font-size: 0.9rem;
      }
    }

    &-button {
      display: flex;
      gap: 0.5rem;
    }

    & fa-icon {
      font-size: large;
      padding-left: 10px;
    }
  }
}

.container-categories {
  display: flex;
  justify-content: center;
}

.container-ingredient {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: variables.$screen-medium) {
    flex-direction: row-reverse;
  }

  & .container-image {
    display: flex;
    justify-content: center;
    width: 50%;

    & .image {
      width: 13rem;
      height: 13rem;
      border-radius: 10px;
    }
  }

  & .ingredient {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-top: 3rem;
    position: relative;
    border-top: 2px solid palette.$gray;

    @media (min-width: variables.$screen-medium) {
      width: 50%;
    }

    & > ul {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 10px;
      gap: 10px;

      @media (min-width: variables.$screen-large) {
        column-count: 2;
      }

      & li {
        margin-bottom: 30px;
      }
    }

    h2 {
      color: palette.$gray;
      position: absolute;
      top: -40px;
      left: 40px;
      background-color: #fafafa;
      padding: 0 10px;
    }
  }
}

fa-icon {
  margin-right: 10px;
}

.container-step {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;
  border-top: 2px solid palette.$gray;
  margin-top: 3rem;

  @media screen and (min-width: variables.$screen-medium) {
    margin-top: 5rem;
  }

  & h2 {
    color: palette.$gray;
    position: absolute;
    top: -40px;
    left: 40px;
    background-color: #fafafa;
    padding: 0 5px;
  }

  & > ol {
    padding: 1.5rem 1rem 1rem 1.5rem;
  }
  & li {
    margin-bottom: 30px;
  }
}
