@if(isHandset$ | async) { @if(!isLogged){

<footer>
  <div class="links">
    <a routerLinkActive="active" routerLink="/recipes">
      <fa-icon icon="book"></fa-icon><span>Recipes</span></a
    >
  </div>

  <div class="links">
    <a routerLinkActive="active" routerLink="/login"
      ><fa-icon icon="user"></fa-icon><span>Se connecter</span></a
    >
  </div>
  <div class="links">
    <a routerLinkActive="active" routerLink="/register"
      ><fa-icon icon="user-plus"></fa-icon><span>S'inscrire</span></a
    >
  </div>
</footer>
} @else{
<footer>
  <div class="links">
    <a routerLinkActive="active" routerLink="/recipes">
      <fa-icon icon="book"></fa-icon><span>Recettes</span></a
    >
  </div>
  <div class="links">
    <a routerLinkActive="active" [routerLink]="['/my-recipes']">
      <fa-icon [icon]="['far', 'file-lines']"></fa-icon
      ><span>Mes recettes</span></a
    >
  </div>
  <div class="links">
    <a routerLinkActive="active" routerLink="/profile"
      ><fa-icon [icon]="['far', 'user']"></fa-icon><span>Profil</span></a
    >
  </div>
</footer>
} }
