@use 'utils/variables' as variables;
@use 'material/palette' as palette;

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  overflow: hidden;

  @media (min-width: variables.$screen-medium) {
    width: 50%;
  }

  mat-form-field {
    margin-bottom: 1rem;
  }
  mat-form-field:nth-child(2) {
    margin-bottom: 0;
  }

  & a {
    color: palette.$accent-dark;
    text-decoration: none;
    margin-bottom: 2rem;
    text-align: right;
    cursor: pointer;
  }
}
