.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 20px;
  background-color: #ff6f61;
  color: white;
}

mat-sidenav {
  background-color: #ff6f61;
}

.menu {
  mat-nav-list {
    display: flex;
    flex-direction: column;
  }
}

.menu-reduced {
  display: flex;
  justify-content: space-between;
}

.menu-burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidenav-content {
  margin-left: 0;
}
