@use 'material/palette' as palette;

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-query {
  width: 100%;
  & span {
    padding: 0 1rem;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-button {
  width: 50px;
  height: 45px;
  margin-right: 0.5rem;

  cursor: pointer;
  background-color: palette.$green !important;
  border: none;
  border-radius: 10px;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  & fa-icon {
    color: white;
    font-size: 1.1rem;
  }
}
