<h2 mat-dialog-title>Mot de passe oublié?</h2>
<div class="container-password-forgot" mat-dialog-content>
  <p>Pour réinitialiser votre mot de passe, saisissez votre adresse mail.</p>
  <p>
    Nous vous enverrons un e-mail avec un lien vous permettant de choisir un
    nouveau mot de passe.
  </p>
  <form class="form" [formGroup]="forgotForm" (ngSubmit)="passwordForgot()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
      <mat-error *ngIf="forgotForm.controls.email.errors?.['required']"
        >Ce champ est obligatoire</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div class="action-wrapper" mat-dialog-actions>
  <button mat-button color="error" mat-dialog-close>Annuler</button>
  <button
    mat-button
    color="accent"
    mat-dialog-close
    [disabled]="forgotForm.invalid"
    (click)="passwordForgot()"
  >
    Envoyer
  </button>
</div>
