header {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 0 6rem;
  color: #ff6f61;

  & .title {
    width: 100%;
    border-bottom: 2px solid #ff6f61;

    & h1 {
      margin-bottom: 0.5rem;
    }
  }
}

.card {
  max-width: 100%;
  border: 1px solid black;
}

.trash {
  margin-left: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0 6rem;
  margin-left: auto;
  margin-right: auto;
}
.image {
  width: 150px;
}

@media (min-width: 640px) {
  .cards {
    margin-bottom: 25rem;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
