<header>
  <div class="title">
    <h1>Se connecter</h1>
  </div>
</header>

<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field>
    <mat-label>Identifiant</mat-label>
    <input matInput formControlName="email" type="email" required />
    <mat-error *ngIf="loginForm.controls.email.errors?.['required']">
      Ce champ est obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput formControlName="password" type="password" required />
    <mat-error *ngIf="loginForm.controls.password.errors?.['required']">
      Ce champ est obligatoire
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Se connecter
  </button>
</form>
